venv
*.pyc
__pycache__/

OPC/books/joblibs/Embeddings/books_emb.pkl
OPC/books/joblibs/Embeddings/books_embeddings.pt
OPC/books/joblibs/Genre_knn/books_df.joblib
OPC/books/joblibs/Genre_knn/category_encoder.joblib
OPC/books/joblibs/Genre_knn/category_knn_sparse.joblib
OPC/books/joblibs/KNN-TF/nn_model.joblib
OPC/books/joblibs/KNN-TF/sparse_matrix.joblib
OPC/books/joblibs/KNN-TF/tfidf_vectorizer.joblib
OPC/books/joblibs/KNN-TF/title_to_index.joblib
OPC/books/joblibs/NN/books_data.pkl
OPC/books/joblibs/NN/books_features.pkl
OPC/books/joblibs/NN/books_label_encoder.pkl
OPC/books/joblibs/NN/books_labels.pkl
OPC/books/joblibs/NN/books_nn_model.keras
OPC/books/joblibs/NN/books_vectorizer.pkl



OPC/movies/joblibs/BOW/nn_model.joblib
OPC/movies/joblibs/BOW/tfidf_matrix.joblib
OPC/movies/joblibs/BOW/tfidf_vectorizer.joblib
OPC/movies/joblibs/BOW/title_to_index.joblib
OPC/movies/joblibs/Embeddings/movie_embeddings.pt
OPC/movies/joblibs/Embeddings/movies.pkl
OPC/movies/joblibs/Genre-Based/genre_Based_matrix.joblib
OPC/movies/joblibs/Genre-Based/movies_genre_based.joblib
OPC/movies/joblibs/Genre-Based/title_index_genre-based.joblib
OPC/movies/joblibs/GenreKnn/genre_index_to_title.joblib
OPC/movies/joblibs/GenreKnn/genre_knn_model.joblib
OPC/movies/joblibs/GenreKnn/genre_movies_df.joblib
OPC/movies/joblibs/GenreKnn/genre_title_to_index.joblib
OPC/movies/joblibs/GRHR/GRHR.joblib
OPC/movies/joblibs/KNN/knn_model.joblib
OPC/movies/joblibs/KNN/movie_mapping.joblib
OPC/movies/joblibs/KNN/reverse_mapping.joblib
OPC/movies/joblibs/KNN/sparse_matrix.joblib
OPC/movies/joblibs/NN/final_movie_data.pkl
OPC/movies/joblibs/NN/movie_rating_model.keras
OPC/movies/joblibs/NN/rating_count_scaler.pkl
.env
